html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ebd150;
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}
ul{
    list-style-type: none;
}
#header{
    position: sticky;
    top: 0;
}
#nav-bar{
    background-color: rgba(250, 163, 2, 1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}
#nav-bar ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width: 480px){
    #header{
        position: relative;
    }
    #nav-bar ul{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-items: center;
    }   
    #nav-bar ul li{
        padding: 10px 0 10px 0;
    }
}
#nav-bar ul li{
    flex: 1;
}
.nav-link a{
    text-decoration: none;
    color: black;
}
.nav-link img{
    margin-left: 5%;
}
.nav-link a:hover{
    font-weight: bold;
    color: white;
}
.nav-link img{
    height: 60px;
    padding: 0;
}
#nav-bar #spacer{
    flex: 3;
    font-size: 30px;
    font-weight: bolder;
}
#nav-bar ul{
    list-style-type: none;
}
.features-container{
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
    padding: 20px 0 20px 0;
    
}
.features-container-item{
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
    width: 100%;
    background-color: rgba(250, 163, 2, 0.2);
}
.features-container-item h3{
    font-size: 20px;
    font-weight: bold;
    background-color: orange;
    width: 100%;
    color: white;
    line-height: 2em;
}
.features-container-item p{
    margin: 10px 0 10px 0;
    width: 90%;
}
.video-container{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    
}
.video-container iframe{
    border-radius: 5px;
}
.purchase-container{    
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    padding: 20px 0 20px 0;
}
.purchase-container-item{
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
    background-color: rgba(250, 163, 2, 0.2);
}
.purchase-container-item h3{
    background-color: orange;
    color: white;
    font-weight: bold;
    width: 100%;
    line-height: 2em;
    margin-bottom: 10px;
}
.purchase-container-item ul{
    width: 95%;
    margin: 10px 0 20px 0;
}
.purchase-container-item li{
    padding: 5px 0 5px 0;
    font-weight: bold;
    color: red;
}
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
    border: 2px solid orange;
    background-color: rgba(250, 163, 2, 0.2);
}
.about-container h2{
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 20px 0;
    width: 100%;
    background-color: orange;
    color: white;
    line-height: 1.5em;
}
.about-container p {
    margin: 0 0 20px 0;
    width: 80%;
}
.subscribe-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 0 20px;
    text-align: center;
    border: 2px solid orange;
    background-color: rgba(250, 163, 2, 0.2);
}
.subscribe-container h2{
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 20px 0;
    width: 100%;
    background-color: orange;
    color: white;
    line-height: 1.5em;
}
.subscribe-form{
    margin: 0 0 20px 0;
    display: flex;
      
    width: 100%;
    justify-content: center;
}
#form{
    border: 2px solid orange;
    display: flex;
    justify-content: center;
    width: 80%;
}
.subscribe-form input[type='email']{
    font-size: 16px;
    border: none;
    padding: 5px;
    width: 70%
}
.subscribe-form input[type='submit']{
    background-color: orange;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 5px;
    margin: 0 0 0 -5px;
    width: 30%;
}
#form input[type='submit']:hover{
    background-color: rgb(247, 209, 139);
    color: rgb(153, 152, 149);
    cursor: pointer;
}
main{
    width: 70%;
    margin: auto;
    border-right: 2px solid orange;
    border-left: 2px solid orange;
    padding: 0 0 20px 0 ;
    background-color: white;
}